@layer base;
@import url("base.css") layer(base);

article {
    inline-size: 50rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 85rem) {
    aside {
        position: absolute;
        top: 50rem;
        margin: 2rem;
        inline-size: 10rem;
        z-index: 1;
        border: 1px solid #08c49e;
        border-radius: 40px;
        padding: 10px;
    }
}

#article-title {
    text-align: center;
}

img.article-image {
    inline-size: 50rem;
    border-radius: 10px;
    border: 4px solid #f4d7dd;
}
