html {
    font-size: 18px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #04100e;
    background-color: #effbf8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", "Inter", Arial, Helvetica, sans-serif;
}

main {
    margin-block-start: 5rem;
    margin-block-end: 1rem;
    min-block-size: calc(100vh - 11rem);
}

nav.top-nav {
    user-select: none;
    position: fixed;
    top: 0;
    inline-size: 100%;
    background: #effbf8;
    display: block;
    border-block-end: 2px solid #04100e;
    margin-block-end: 0.5rem;
    z-index: 2;
}

a.top-nav {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 0.5rem;
    margin: 0.5rem;
}

h1.top-nav {
    display: inline;
    background: linear-gradient(to right, #3699c4 0%, #08c49e 100%);
    font-size: 1.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.top-nav:hover {
    color: #effbf8;
    background: #3699c4;
    background-clip: border-box;
    border-radius: 10px;
}

.profile-picture.top-nav {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    width: 40px;
    height: 40px;
}

a {
    color: #04100e;
    text-decoration: 2px underline #08c49e;
}

a:hover {
    cursor: pointer;
    background-color: #f4d7dd;
}

footer {
    font-size: 16px;
    border-block-start: 2px solid #04100e;
    min-width: 100%;
    margin: 0;
    padding: 0;
    left: 0px;
}
