@layer base;
@import url("base.css") layer(base);

main {
  display: flex;
  font-size: 25vw;
  text-align: center;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;

  min-block-size: calc(100vh - 8rem);
}
