html {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #313144;
  background-color: #e6e6fa;
}

h1 {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

p {
  font-family: "Open Sans", sans-serif;
}

#password {
  font-family: monospace;
  border-radius: 3px;
  border-width: 1px;
  width: 200px;
}

button {
  font-family: "Open Sans", sans-serif;
  border-radius: 3px;
  border-width: 1px;
}

label {
  margin: 10px 0px 10px;
}

div {
  margin: 5px;
}

#button-div {
  margin: 5px 0px 15px;
}

footer {
  margin: 20px;
}
